<div class="new-recipe">
  <%= simple_form_for [@category, @bookmark] do |f|%>
  <h4>Add a recipe to <%= @category.name %></h4>
  <%= f.input :comment %>
  <%= f.association :recipe %>
  <%= f.submit %>
  <% end %>
</div>
